<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.laynefaler.hotflix">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.laynefaler.hotflix.Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.laynefaler.hotflix.Activities.DetailActivity"
            android:parentActivityName="com.example.laynefaler.hotflix.Activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.laynefaler.hotflix.Activities.MainActivity" />
        </activity>
        <activity android:name="com.example.laynefaler.hotflix.Activities.SettingActivity"
            android:parentActivityName="com.example.laynefaler.hotflix.Activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.laynefaler.hotflix.Activities.MainActivity" />
        </activity>
        <provider
            android:authorities="@string/content_authority"
            android:name="com.example.laynefaler.hotflix.Data.MovieProvider"
            android:syncable="true" />

        <!-- SyncAdapter's dummy authentication service -->
        <service
            android:name="com.example.laynefaler.hotflix.Sync.MovieAuthenicatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenicater" />
        </service>

        <!-- The SyncAdapter service -->
        <service
            android:name="com.example.laynefaler.hotflix.Sync.MovieSyncService"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

    </application>

</manifest>